*,

behaver
html, body {
  min-height: 100%;
}

.wrapper {
  background-color: lightblue;
}

html {
  scroll-behavior: smooth;
}

.content {
  margin-block: 50px;
  height: 500px;
  background-color: lightcoral;
}